<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>采用SpringBoot、MyBatis-plus、Shiro框架，开发的一套后台管理系统。</li>
            <li>使用jwt保障api安全。</li>
            <li>使用elasticsearch实现文章搜索</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
            <li>Git地址：<a href="https://gitee.com/chenliangliang68/mly" target="_blank">https://gitee.com/chenliangliang68/mly</a>
            </li>
            <li>如需关注项目最新动态，请Watch、Star项目，同时也是对项目最好的支持</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;联系方式</h3>
        <ul>
            <li>QQ:3304734570</li>
            <li>email:chenliangliang68@163.com</li>
        </ul>
    </div>
</div>
</body>
</html>