<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfutonline.mly.modules.news.mapper.CatalogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hfutonline.mly.modules.news.entity.Catalog" id="catalogMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="icon" column="icon"/>
        <result property="username" column="username"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="queryCatalogTagIds" resultType="java.lang.Integer">
        SELECT tag_id
        FROM catalog_tag
        WHERE catalog_id = #{catalogId}
    </select>

    <select id="queryCatalogIdAndName" resultType="com.hfutonline.mly.modules.news.entity.Catalog">
        SELECT
            id,
            name
        FROM catalog
    </select>


</mapper>