<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfutonline.mly.modules.sys.mapper.SysMenuMapper">


    <select id="queryUserMenus" resultType="com.hfutonline.mly.modules.sys.entity.SysMenu">
        SELECT DISTINCT m.id AS id,m.pid AS pid, m.name AS name,m.type AS type,m.perms AS perms,m.url AS url,m.icon AS icon,m.order_num AS orderNum
        FROM sys_user_role ur LEFT JOIN sys_role_menu rm ON ur.role_id=rm.role_id
        LEFT JOIN sys_menu m ON rm.menu_id=m.id
        WHERE ur.user_id=#{uid}
        ORDER BY m.order_num ASC
    </select>

</mapper>
