<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfutonline.mly.modules.news.mapper.TagMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hfutonline.mly.modules.news.entity.Tag" id="tagMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="username" column="username"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryBaseInfo" resultType="com.hfutonline.mly.modules.web.entity.Server">
        SELECT id,name FROM tag
    </select>


</mapper>